[Desktop Entry]
Version=3.0.3
Name=Quick Solver
Exec=python3 $HOME/.Quick_Solver/quick_solver.py && bash
Terminal=true
Type=Application
Icon=$HOME/.Quick_Solver/quick_solver_logo.png
